.home-container {
    text-align: center;
    padding: 20px;
  }
  
  .title {
    font-size: 36px;
    font-weight: bold;
    color: red;
  }
  
  .description {
    margin-top: 20px;
  }
  
  .description h2 {
    color: red;
    font-size: 24px;
    font-weight: bold;
  }
  
  .description p {
    font-size: 18px;
    width: 70%;
    margin: auto;
    line-height: 1.5;
  }
  
  .gif-container {
    margin-top: 20px;
  }
  
  .gif-container img {
    width: 300px;
    height: auto;
  }
  